/*
USERIFY PALETTE:
	#3498db - Peter river
	#e67e22 - Carrot
	#d35400 - Pumpkin
	#e74c3c - Alizarin
	#1abc9c - Turquoise
*/
body{
	text-align: justify;
}
h1.title-color {
	color: #27ae60!important;
	color: #d35400!important; /*new*/
}
h2.title-color {
	color: #e67e22!important; /*new*/
}
.tag-color {
	color: #3498db;
	color: #e74c3c; /*new*/
}
.attribute-color {
	color: #f39c12;
	color: #3498db; /*new*/
}
.atr-value-color {
	color: #27ae60;
	color: #e67e22; /*new*/
}
.body_color{
	background-color: #1abc9c;
}
.top-spacer {
    margin-top: 2.5em;
}
.tab-spacer {
    margin-left: 2.5em;
}
.tab-spacer-2 {
    margin-left: 5em;
}
.tab-spacer-3 {
    margin-left: 7.5em;
}
#forkongithub a
{
	background: grey;
	color: white;
	font-family: arial,sans-serif;
	font-size: 1rem;
	font-weight: bold;
	line-height: 2rem;
	padding: 5px 40px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: 0.5s;
}
#forkongithub a:hover
{
	background: #3498db;
	color: #fff;
}
#forkongithub a::before,#forkongithub a::after
{
	background: #fff;
	content: "";
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	top: 1px;
	width: 100%;
}
#forkongithub a::after
{
	bottom: 1px;
	top: auto;
}
#forkongithub
{
	display: block;
	height: 200px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 200px;
	z-index: 9999;
}
#forkongithub a
{
	box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	position: absolute;
	right: -45px;
	top: 45px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	width: 200px;
}

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 200px;
	background-color: #3498db;
}


/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.btn-primary{
	background: #3498db;
    border-color: #3498db;
}

.btn-primary:hover{
	color: #fff;
	background: #3498db;
	border: 1px solid #3498db;
}

ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
    background: none repeat scroll 0 0 #0088cc;
    border: 1px solid #0088cc;
    color: #fff;
}

/* Custom Styles */
ul.nav-tabs {
	width: 200px;
	margin-top: 20px;
	border-radius: 4px;
	border: 1px solid #ddd;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}
ul.nav-tabs li {
	margin: 0;
	border-top: 1px solid #ddd;
}
ul.nav-tabs li:first-child {
	border-top: none;
}
ul.nav-tabs li a {
	margin: 0;
	padding: 8px 16px;
	border-radius: 0;
	color: #3498db;
}
ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
	color: #fff;
	background: #3498db;
	border: 1px solid #3498db;
}
ul.nav-tabs li:first-child a {
	border-radius: 4px 4px 0 0;
}
ul.nav-tabs li:last-child a {
	border-radius: 0 0 4px 4px;
}
ul.nav-tabs.affix {
	top: 30px; /* Set the top position of pinned element */
}